html {
    background-color: hwb(240 89% 0%);
    color: rgb(35, 34, 49);
    font-family: sans-serif;
}

html.dark {
    background-color: hwb(240 9% 85%);
    color: rgb(225, 223, 255);
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dark a:link {
    color: white;
}

a:visited {
    color: rgb(130, 76, 167);
    font-weight: bold;
}

.dark a:visited {
    color: rgb(231, 194, 255);
}

a:hover {
    text-decoration: underline;
}

.button {
    margin: 0.25em;
    border: solid 2px #9c63c2;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #e7c2ff;
    transition: background-color 0.25s;
    color: rgb(130, 76, 167);
}

.dark .button {
    border: solid 2px #6d3e8b;
    background-color: #30304a;
    color: rgb(231, 194, 255);
}

.dark .button:hover {
    background-color: #cc9cec;
    transition: background-color 0.25s;
}

.dark .button:hover {
    background-color: #474769;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.skill {
    color: #2b85df;
    font-style: bold;
}

/* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.25s;
    border-radius: .5em;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #cc9cec;
    transition: background-color 0.25s;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    background-color: hwb(240 19% 71%);
}

.expanded {
    display: unset;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #000000;
}

.dark .hamburger .line {
    background-color: white;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

}
