<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/test-page/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro About</title>
	</head>
	<body>
        <a href="/test-page/">Home</a>
        <a href="/test-page/about/">About</a>
        <a href="/test-page/blog/">Blog</a>

		<h1>About</h1>
        <p>something something skibi toilet</p>
        <h3>crazy? i waas crazy once they locked me in a room a rubber room a rubber room with rats</h3>
	</body>
</html>
