---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog">
    <ul>
        <li><a href="/test-page/posts/1/">Post 1</a></li>
        <li><a href="/test-page/posts/2/">Post 2</a></li>
        <li><a href="/test-page/posts/3/">Post 3</a></li>
    </ul>
</BaseLayout>